html {
  margin: 0;
  padding: 0;
  min-width: 1000px;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
	letter-spacing: 0.1px;
	line-height: 24px;
  background: #070707 url('../img/index-bg.jpg') no-repeat;
	background-size: contain;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

h2 {
  font-size: 28px;
  margin: 20px 0;
}

h3 {
  font-size: 24px;	
  margin: 30px 0;
}

.container{
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

/* Header */

.header {
  background-color: black;
}

.inner-page {
  color: #000000;
  background-color: #f9f6f3;
  background-image: url("../img/bg-block.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .header-navigation {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.inner-page .header-logo {
  order: 0;
  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.inner-page .user-navigation{
  margin-left: auto;
}

.header-navigation {
  font-size: 16px;
	line-height: 20px;
}

.header-navigation .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
}

.site-navigation a,
.user-navigation a {
	display: block;
	padding: 25px 20px;
}

.header-navigation li:hover{
  background: #242424;
}

.user-navigation .login-link{
  position: relative;
  padding-left: 40px;
}

.login-link::before{
  content: "";
  position: absolute;
  left: 10px;
  top: 28px;
  width: 14px;
  height: 14px;
  background: url("../img/login.png") no-repeat;
}

.login-link:hover::before{
  background: url("../img/login-hover.png") no-repeat;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

/* Логотип */

.logo {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 70px;
}

/* Features */

.features-items {
  display: flex;
  color: white;
  margin-bottom: 53px;
}

.features-item{
  width: 300px;
  margin-right: 20px;
  padding: 0 8px;
  text-align: center;
}
.features-item:nth-last-child(1){
  margin-right: 0;
}

.features-item h3{
  position: relative;
}
.features-item p{
  margin: 0;
  margin-top: 60px;
}
.features-item h3::after{
  content: "";
  position: absolute;
  top: 54px;
  left: calc(50% - 9px);
  display: block;
  width: 19.5px;
  height: 19.5px;
  background: white;
  transform: rotate(45deg);
}

/* News and Gallery */

.row{
  display: flex;
  width: 100%;
  background: url('../img/bg-block.jpg') repeat;
  margin-bottom: 65px;
}

.row>section{
  width: 50%;
  padding-top: 45px;
  padding-bottom: 45px;
  box-sizing: border-box;
  position: relative;
  background: white;
  color: black;
}

/* News */

.news{
  padding-left: 80px; 
  width: 50%;
}

.news-list{
  margin-top: 20px;
}
.news-item{
  margin-bottom: 21px;
}

.news-item p{
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  padding-right: 20px;
}

.news-item time{
  display: block;
  text-transform: none;
}

/* Gallery */

.gallery{
  padding-left: 93px;
  width: 50%;
  box-shadow: black -110px 0 20px -114px; 
}

.gallery-content{
  width: 286px;
  height: 164px;
  margin-left: 5px;
  margin-top: 30px;
}

.gallery-button{
  margin-top: 30px;
  margin-right: 15px;
  text-transform: uppercase;
}

/* Contacts */

.contacts{
  padding-left: 80px; 
}

.contacts p{
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  margin: 19px 0;
}

.contacts .button{
  margin-right: 19px;
  margin-top: 5px;
}

/* Appoinment */

.appointment{
  width: 300px;
  padding-left: 91px;
  box-shadow: black -110px 0 20px -114px; 
}

.appointment-form{
  width: 300px;
}

.appointment-item input[type="text"]::placeholder{
  color: #4a4948;
  padding-left: 15px;
  
}

.appointment>p{
  margin: 18px 0 0 0;
}

.appointment p{
  width: 300px;
  margin-right: 20px;

}

.appointment-item{
  display: inline-block;
  margin: 0;
}
.appointment-item label{
  margin-bottom: 5px;
  display: block;		
  padding-left: 15px;
}
.appointment-item input{
  width: 136px;
  height: 37px;
  border: 2px solid black;
}
.appointment-row{
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}
.appointment .button{
  width: 100%;
  margin-top: 17px;
  text-transform: uppercase;
}

/* Footer */

.footer{
  color: white;
  height: 193px;
  position: relative;
  background: url('../img/bg-header.jpg') repeat;
}

.footer .container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts a{
  text-decoration: underline;
}

.footer-social{
  position: absolute;
  left: calc(50% - 69.5px);
  align-self: center;
  text-align: center;
}

.footer-social li{
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px
}
.footer-social li:nth-last-child(1){
  margin-right: 0px
}
.footer-social .button{
  font-size: 0;
  width: 43px;
  height: 43px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center; 
}
.footer-social .social-button-vk{
  background-image: url('../img/vk.svg');
}
.footer-social .social-button-fb{
  background-image: url('../img/fb.svg');
}
.footer-social .social-button-inst{
  background-image: url('../img/inst.svg');
}
.footer-copyright{
  text-align: center;
}
.footer-copyright .button{
  display: block;
  margin-top: 20px;
  height: 43px;
}

.button{
  display: inline-block;
  text-align: center;
  width: 140px;
  height: 44px;
  background: black;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  line-height: 44px;
  border: 0;
  color: white;
}
.button:hover{
  background-color: #663d15;
}


.login-page .modal-login{
  position: static;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  box-shadow: 0 0 15px 0 rgba(0,1,1,.2);
}

.login-page .login-form-close-btn{
  display: none;
}
.modal{
  position: absolute;
  box-sizing: border-box;
}
.modal>.button{
  width: 45px;
  height: 45px;
  background: transparent;
}
.modal-login{
  left: calc(50% - 230px);
  top: calc(50% - 190px);
  color: black;
  width: 460px;
  background: white;
  padding: 50px 80px;
}
.login-form{
  display: flex;
  flex-direction: column;
}
.login-form>.login-form-item{
  width: 300px;
  height: 43px;
  box-sizing: border-box;
  border: 2px solid black;
  margin-bottom: 9px;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-position: 260px center;
}
.login-form>.login-form-item::placeholder{
  color: black;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.login-form-item.login{
  background-image: url('../img/user.png');
}
.login-form-item.password{
  background-image: url('../img/lock.png');
}
.login-form.login::after{}
.login-form-group{
  display: flex;
  justify-content: space-between;
}
.login-forgot-password{
  color: black;
  text-decoration: underline;
}
.login-form-sing-in-btn{
  width: 100%;
  text-transform: uppercase;
}
.button.login-form-close-btn{
  padding: 0;
  position: absolute;
  top: 0;
  right: -45px;
}

.modal-close span{
  position: absolute;
  left: 10px;
  top: 15px;
  width: 23px;
  height: 5px;
  background-color: #d0d0d0;
}
.modal-close span:first-child{
  transform: rotate(45deg);
}
.modal-close span:last-child{
  transform: rotate(-45deg);
}
.modal-map{
  width: 100%;
  height: 100%;
}
.modal-map-container{
  position: relative;	
  width: 776px;
  height: 570px;
  left: calc(50% - 388px);
  top: calc(50% - 270px);
  border: 5px solid white;
}
.map-close-btn{
  position: absolute;
  right: -50px;
  top: -5px;
}
.fixed-overlay-map,
.fixed-overlay-login{
  display: none;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
}
.fixed-overlay-map.open{
  display: block;
}
.fixed-overlay-login.open{
  display: block;
}

input[type="checkbox"]{
  display: none;
}
input[type="checkbox"] + label{
  box-sizing: border-box;
  position: relative;
  left: 40px;
}
input[type="checkbox"] + label::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  top: -2px;
  left: -43px;
}
input[type="checkbox"]:checked+label::before{
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: white url('../img/cross.svg') no-repeat center;
}


input[type="radio"]{
  display: none;
}
input[type="radio"] + label{
  box-sizing: border-box;
  position: relative;
  left: 40px;
}
input[type="radio"] + label::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 50%;
  left: -43px;
  top: -1px;
}
input[type="radio"]:checked+label::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  left: -38px;
  top: 4px;
}
input[type="text"]:focus,
input[type="password"]:focus{
  border: 2px solid #663d15;
  outline: 0;
}
label:hover{
  color: #663d15;
}